<!doctype html>
<html>
<head>
  <title>{{ .Title }} | Maude</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700">
  <link rel="stylesheet" href="{{ .Styles }}">
</head>
<body>
  <ul class="breadcrumbs">
    {{ range $index, $element := .Parts }}
      <li>{{if $index}}<span class="crumb-sep">/</span>{{end}}<a href="{{ $element.Path }}">{{ $element.Name }}</a></li>
    {{ end }}
  </ul>
<div class="dirlist-wrapper">
  <ul class="dirlist">
  {{ range .List }}
    <li><a href="{{ .HREF }}">{{ .Name }}</a></li>
  {{ end }}
  </ul>
</div>

<footer>
  <p>Powered by <a href="https://github.com/buchanae/maude">maude</a></p>
</footer>

</body>
</html>
