body {
  background-color: #1b1b1b;
}
.root-content {
  width: 75%;
  margin: 0 auto;
}
.cell-source .chroma {
  padding: 20px 10px;
  border-radius: 3px;
}
.cell-output {
  margin: 5px 0;
  white-space: pre-wrap;
  overflow-x: scroll;
  background-color: #eee;
  border-radius: 3px;
  padding: 10px;
}
table {
  border-collapse: collapse;
  border: 1px solid #a2a2a2;
  background-color: white;

}
td {
  padding: 5px 10px;
}
th {
  background-color: #eee;
  padding: 5px 10px;
}

