body {
  font-family: "PT Sans", sans-serif;
}
.dirlist-wrapper {
  margin: 50px auto;
  width: 60%;
}
.dirlist {
  list-style-type: none;
}
.dirlist li {
  border-radius: 3px;
}
.dirlist li:hover {
  background-color: #e8e8e8;
}
.dirlist li a {
  text-decoration: none;
  color: #0099dc;
  display: block;
  padding: 7px 20px;
}
.dirlist li i.fa {
  padding: 0 5px;
  min-width: 20px;
  color: #b7b7b7;
  text-align: center:
}
i.fa-external-link-alt {
  font-size: .5em;
}
.breadcrumbs li {
  list-style-type: none;
  font-size: .9em;
  display: inline;
}
.breadcrumbs .crumb-sep {
  padding: 0 5px;
}

.readme {
    width: 60%;
    margin: 70px auto;
    border-top: 1px solid #eee;
    padding: 30px;
}
.page-content {
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

footer {
    color: #ddd;
  text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 30px;
    font-size: .8em;
}

footer a {
    color: #87abcc;
}

td {
  padding: 0 7px;
}

#search {
    position: fixed;
    right: 0;
    top: 0;
    margin: 20px;
    width: 200px;
    border-radius: 3px;
    border: 1px solid #ddd;
    line-height: 1.8em;
    padding: 0 5px;
}

.dirlist li a:focus {
  background-color: #cff3ff;
  border: none;
  outline: none;
}
